
{% extends "_layout" %}

{% block content %}
 
   <article class="blog_entry">
	
		 <p align="center">
			 <a href="#" class="btn btn-default">
			 <i class="far fa-calendar-alt"></i> {{entry.postDate | date('M d, Y')}} </a>
			 <br>
			 {% include 'partials/_entry_image.html' %}
	     </p>
	     
		<h2 class="entry_title">{{ entry.title }}</h2>
	
	    {{entry.body}}
	    
	    <div class="container">
	    
		     {% for report in entry.hazardDescriptions %}
		    
		     <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{loop.index}}">{{report.hazardWhat}}</button>
	         <div id="demo{{loop.index}}" class="collapse">
	            {{report.hazardHow}}
	         </div> 
	              
		    <br/>
		     {% endfor %}
	     
	     </div>
	    
	    {% include 'partials/_entry_category.html' %}  
    
    </article>
 
{% endblock %}
